.App {
  background-color: #282c34;
  background: url("./game.jpg") no-repeat top/cover fixed ;
  color: white;
  padding: 24px;
  min-height: 100vh;
  max-width: 300px;
  margin: 0 auto;
  font-size: 15px;
}

.App-header {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.App-header h1{display: inline-block;}

.App-link {
  color: #09d3ac;
}
